:root {
  --darkred: #710;
  --red: #b23;
  --lg: #eee;
}

body {
  font-family: monospace;
}

table {
  border-spacing: 0;
}

thead > tr > th {
  cursor: pointer;
}

thead {
  background: var(--red);
  color: white;
  font-size: 14px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

table {
  border: 1px solid grey;
}

th,
td {
  border: 1px solid grey;
  padding: 10px;
  border-top-width: 0;
  border-left-width: 0;
}

tbody tr:nth-child(even) {
  background: var(--lg);
}

.active-sort {
  background: var(--darkred);
}

.bold {
  font-weight: 700;
}

.not-bold {
  font-weight: 400;
}
